html,
body {
  background-image: url("../public/images/abstract-blue-geometric-shapes-background_1035-17545.jpg");
  background-color: #cccccc;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
